        body {
            background: #222;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        #loader {
            position: relative;
        }
        #gear {
            animation: spin 2s linear infinite;
            transform-origin: 100 100;
        }
        #gear2 {
            animation: spin-reverse 2.5s linear infinite;
            animation-delay: .19s;
            position: absolute;
            top: 45px;
            left: 85px;
        }
        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        @keyframes spin-reverse {
            0% {
                transform: rotate(0deg) scale(1.2);
            }


            100% {
                transform: rotate(-360deg) scale(1.2);
            }
        }
    